body {
    background-color: #080C20;
    color: #FFFFFF;
    overflow-x: hidden;
    font-family: Manrope;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
}

.paragragh {
    color: #777F98;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
}

span {
    color: #3EE9E5;
}

.nav-section {
    padding: 3rem 0 3rem 7rem;
}

.top-section {
    margin: 6rem 0;
}

.description-top-section {
    position: relative;
    text-align: center;
    font-family: Manrope;
    width: 27rem;
    height: 20rem;
    margin: auto;
}

.left-illustration {
    position: absolute;
    top: 11.5rem;
    left: -2.8rem;
}

.right-illustration {
    position: absolute;
    right: -3.2rem;
    top: 12rem;
}

.top-zigzag {
    position: absolute;
    right: 22rem;
    top: 10rem;
}

.scroll-icon {
    position: absolute;
    left: 13rem;
    bottom: 3.5rem;
}

#features {
    width: 60rem;
    height: 20rem;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4rem;
}

.feature-contents {
    text-align: left;
    margin: 0 1.5rem;
}

.feature-images {
    background-color: #093F68;
    padding: 1rem;
    border-radius: 25%;
}

.financial-freedom {
    margin-top: 3rem;
}

.work-anywhere {
    margin-top: 3rem;
}

.pricing-heading {
    text-align: center;
    margin: auto;
    width: 26rem;
    padding: 0 4rem 4rem;
}

#pricing-plans {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin: 0 10rem;
}

#pricing-plans h4 {
    font-weight: 800;
}

#pricing-plans p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 25px;
    font-style: normal;
}

.icon-paid {
    position: absolute;
    top: -1.5rem;
}

.icon-free {
    position: absolute;
    top: -1.2rem;
}

.plan-details {
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.free {
    background-color: #093F68;
    width: 19rem;
    position: relative;
}

.free p {
    color: #FFFFFF;
    opacity: 0.6;
}

.free-details p {
    opacity: 1;
    margin: 0.5rem 1.5rem;
}

.check-free {
    position: absolute;
}

.free h3 h2 {
    font-weight: 800;
    font-style: bold;
}


.paid {
    background-color: #3EE9E5;
    color: #080C20;
    height: 80%;
    width: 19rem;
    position: absolute;
    right: 0;
    top: -0.5rem;
}

.paid p {
    color: #080C20;
    opacity: 0.6;
}

.paid h2 {
    font-weight: 800;
    font-size: 2rem;
}

.paid-details p {
    opacity: 1;
    margin: 0.5rem 1.5rem;
}


.per-month {
    color: #080C20;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.6;
    position: absolute;
    top: 11rem;
    margin-left: 0.3rem;
    
}

.check-paid {
    position: absolute;
}

.bottom-section {
    margin: 5rem 0 12rem;
}

.bottom-zigzag {
    position: absolute;
    left: -10rem;
}

.bottom-section h2 {
    text-align: center;
    margin: auto;
    position: relative;
    top: 3rem;
}

.subscribe {
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
}

button {
    border-radius: 2rem;
    background-color: #3EE9E5;
    border: 0;
    padding: 0.7rem;
    color: #093F68;
    font-weight: 800;
    font-family: Manrope;
} 

input {
    border: 0;
    border-radius: 2rem;
    padding: 0.7rem;
    font-weight: 800;
    background-color: #093F68;
    margin-right: 0.5rem;
    width: 13rem;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
    opacity: 0.4;
    font-family: Manrope;
}
